<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/logo-cosnapus.png" type="image/x-icon">
    <title>Cosnapus</title>
</head>
<body>
    <header>
        <img class="logo" src="/img/logo-cosnapus.png" alt="Cosnapus">
        <img class="img-header" src="/img/DrawKit Vector Illustration Project Manager (18).svg" alt="marketing">
        <div class="text-title">
            <p><span>¡Hola!</span>, nosotros somos</p>
            <h1>Cosnapus</h1>
            <p class="slogan">Nosotros hacemos las webadas que tu no quieres y larara</p>
            <br>
            <code>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint veritatis quia deleniti iste et delectus, velit reprehenderit impedit praesentium vero. Ut, at impedit? Odit illum quas blanditiis sit, laudantium voluptas!</code>
        </div>
    </header>
    <div class="line"></div>
    <main>
        <div class="cuadro1">
            <div class="que-hacemos">
                <h2>¿Qué hacemos?</h2>
                <p>La pandemia del COVID-19 dejo entre otras cosas un nuevo modelo de trabajo para el comercio "La virtualidas". <br> Hoy en dia es indispensable tener una presencia web y en redes sociales, y es de justamente de lo que Cosnapus se encarga, creando un sitio web adaptable para cualquier dispositivo con los requerimientos que el beneficiario solicite, acompañado de una camapaña de Marketing enfocada en las principales redes sociales y google</p>
            </div>
            <img class="que-hacemos-img img-observer" src="/img/DrawKit Vector Illustration Project Manager (2).svg" alt="">
        </div>

        <div class="card2">
            <h2>¿Qué tecnologías usamos?</h2>
            <div class="design">
                <h3>En el diseño total de la página</h3>
                <div class="cards-web">
                    <div class="card-t">
                        <img class="node-img" src="/img/nodejs-icon.svg" alt="node.js">
                        <p>Node.js</p>
                    </div>
                    <div class="card-t">
                        <img class="js-img" src="/img/javascript-1.svg" alt="js">
                        <p>JavaScript</p>
                    </div>
                    <div class="card-t">
                        <img class="css-img" src="/img/css-3.svg" alt="css">
                        <p>CSS3</p>
                    </div>
                    <div class="card-t">
                        <img class="html-img" src="/img/html-1.svg" alt="html">
                        <p>HTML5</p>
                    </div>
                    <div class="card-t">
                        <img class="stripe-img" src="/img/stripe-4.svg" alt="stripe">
                        <p>Stripe</p>
                    </div>
                    <div class="card-t">
                        <img class="express-img" src="/img/express-109.svg" alt="express">
                        <p>Express</p>
                    </div>
                    <div class="card-t">
                        <img class="firebase-img" src="/img/firebase-2.svg" alt="firebase">
                        <p>Firebase</p>
                    </div>
                </div>
            </div>

            <div class="design">
                <h3>En el marketing</h3>
                <div class="cards-web">
                    <div class="card-t">
                        <img class="googleAds-img" src="/img/google_ads-icon.svg" alt="node.js">
                        <p>Google Ads</p>
                    </div>
                    <div class="card-t">
                        <img class="adobeIllustrator-img" src="/img/adobe-illustrator-cs6.svg" alt="js">
                        <p>Adobe Ilustrator</p>
                    </div>
                    <div class="card-t">
                        <img class="facebookAds-img" src="/img/facebook-ads.svg" alt="css">
                        <p>facebook-ads</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card3">
            <h2>¿Quiénes somos?</h2>
            <div class="cards-m">
                <div class="matias-card">
                    <img src="/img/FVANEGAS.webp" alt="">
                    <h2>Matias Vanegas</h2>
                    <p>Product Manager</p>
                </div>
                <div class="ariel-card">
                    <img src="/img/FPINCAY.webp" alt="">
                    <h2>Ariel Pincay</h2>
                    <p>Developer</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="siguenos">
            <h2>Síguenos en:</h2>
            <div class="social-network">
                <div id="fb"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/></svg></div>
                <div id="ig"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg></div>
            </div>
        </div>
        <div class="contactanos">
            <h2>Contátanos por:</h2>
            <div class="contact">
                <div id="ws"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"/></svg></div>
                <div id="mail"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 128C0 92.65 28.65 64 64 64H448C483.3 64 512 92.65 512 128V384C512 419.3 483.3 448 448 448H64C28.65 448 0 419.3 0 384V128zM48 128V150.1L220.5 291.7C241.1 308.7 270.9 308.7 291.5 291.7L464 150.1V127.1C464 119.2 456.8 111.1 448 111.1H64C55.16 111.1 48 119.2 48 127.1L48 128zM48 212.2V384C48 392.8 55.16 400 64 400H448C456.8 400 464 392.8 464 384V212.2L322 328.8C283.6 360.3 228.4 360.3 189.1 328.8L48 212.2z"/></svg></div>
            </div>
        </div>
    </footer>
</body>
<script src="/js/main.js"></script>
</html>